node_modules
fb-chat-api.dev
obfcode.js
minify.js
backupOrigin.js
createVersion.js
createVersionAndCommit.js
checkOriginCodeChanged.js
*.zip
*.dev.*
*.rar
*test.*
*.test.*
test.js
.env
.api.env
.browser-profile/
account.txt
account.dev.txt
config.dev.json
configCommands.dev.json
*.sqlite
*.sqlite-shm
*.sqlite-wal
Fca_Database/

database/data/*
!database/data/.gitkeep

scripts/cmds/tmp/*
!scripts/cmds/tmp/.gitkeep
scripts/cmds/assets/guide
!scripts/cmds/assets/guide/.gitkeep

scripts/events/tmp/*
scripts/events/data/leaveAttachment
scripts/events/data/welcomeAttachment
!scripts/events/tmp/.gitkeep
